// **************************************************
//  Variables
// **************************************************

// --------------------------------------------------
//  modifies bootstrap/bootswatch settings
// --------------------------------------------------
//  You can't use bootstrap variables here,
//  they are unknown yet.
//  But if you set them here, you will overwrite
//  the bootstrap defaults! in this way

// --------------------------------------------------
//  project settings
// --------------------------------------------------

$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

// color settings
$primary: #4c74b0 !default; // primary color
$secondary: #82b7ff !default; // secondary color
$success: #5cb85c !default; // success color
$info: #146d9d !default; // info color
$warning: #f0ad4e !default; // warning color
$danger: #d9534f !default; // danger color
$light: #f7f7f7 !default; // light color
$dark: #292b2c !default; // dark color
$gray-light:   #CCCCCC;
$light-blue:   #E3EAF2;



// --------------------------------------------------
//  overwrite bootstrap
// --------------------------------------------------
